@import "tailwindcss";
/* Você pode adicionar estilos globais customizados aqui embaixo, se precisar */
@layer base {
  /* Definindo nossas variáveis de cores e fontes */
  :root {
    --brand-background-rgb: 245, 245, 245; /* Um cinza claro, quase branco */
    --brand-text-rgb: 26, 26, 26; /* Um preto suave */
    --brand-primary-rgb: 0, 0, 0; /* Um vermelho escuro para destaque */
    --brand-secondary-rgb: 74, 74, 74; /* Um cinza escuro para texto secundário */
  }

  html {
    @apply scroll-smooth;
  }

  body {
    /* Aplicando as cores base */
    background-color: rgb(var(--brand-background-rgb));
    color: rgb(var(--brand-text-rgb));
    /* Definindo a fonte padrão */
    font-family: "Georgia", serif;
  }

  /* Mudança para a fonte sem serifa onde for necessário */
  .font-sans {
    font-family: "Helvetica", "Arial", sans-serif;
  }
}
